[submodule "ExampleApp/Assets/Editor/Arbiter/Stripe"]
	path = ExampleApp/Assets/Editor/Arbiter/Stripe
	url = git@github.com:ArbiterGames/stripe-ios.git
[submodule "ExampleApp/Assets/Editor/Arbiter/PaymentKit"]
	path = ExampleApp/Assets/Editor/Arbiter/PaymentKit
	url = https://github.com/ArbiterGames/PaymentKit
